<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <center>
            <img alt="image" class="rounded-circle" src="/img/logos/covid.png" width="50%" />
            <span class="block m-t-xs font-bold text-white">CoVi Helpers</span>
          </center>
        </div>
        <div class="logo-element">
          <img alt="RS" src="/img/logos/covid.png" height="85%" width="70%" />
        </div>
      </li>
      <li class="<% if (typeof name!='undefined' && name == 'dashboard') { %> active <% } %>">
        <a href="/"><i class="fa fa-home"></i> <span class="nav-label">Dashboard</span></a>
      </li>
      <li
        id="mnuMgmt"
        style="display: none;"
        class="<% if (typeof name!='undefined' && name == 'admin') { %> active <% } %>"
      >
        <a href="#"
          ><i class="fa fa-briefcase"></i> <span class="nav-label">Administration</span
          ><span class="fa arrow"></span
        ></a>
        <ul class="nav nav-second-level collapse">
          <li>
            <a href="/users"><i class="fa fa-user"></i>Users</a>
          </li>
          <li>
            <a href="/roles"><i class="fa fa-sitemap"></i> <span class="nav-label">Roles</span></a>
          </li>
          <li>
            <a href="/settings"><i class="fa fa-cogs"></i>Settings</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
