<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />

    <title>Rumsan - Login</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <style type="text/css">
      .login-form {
        width: 340px;
        margin: 30px auto;
      }
      .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
      }
      .login-form h2 {
        margin: 0 0 15px;
      }
      .login-form .hint-text {
        color: #777;
        padding-bottom: 15px;
        text-align: center;
      }
      .form-control,
      .btn {
        min-height: 38px;
        border-radius: 2px;
      }
      .login-btn {
        font-size: 15px;
        font-weight: bold;
      }
      .or-seperator {
        margin: 20px 0 10px;
        text-align: center;
        border-top: 1px solid #ccc;
      }
      .or-seperator i {
        padding: 0 10px;
        background: #f7f7f7;
        position: relative;
        top: -11px;
        z-index: 1;
      }
      .social-btn .btn {
        margin: 10px 0;
        font-size: 15px;
        text-align: left;
        line-height: 24px;
      }
      .social-btn a:hover,
      .social-btn a:focus,
      .social-btn a:active {
        text-decoration: none !important;
        color: #ffffff;
      }
      .social-btn .btn i {
        float: left;
        margin: 4px 15px 0 5px;
        min-width: 15px;
      }
      .btn-facebook {
        background: #4267b2;
      }
      .social-btn a {
        color: #fff;
      }
      .input-group-addon .fa {
        font-size: 18px;
      }
    </style>
  </head>

  <body class="">
    <div class="loginColumns animated fadeInDown" style="background: white;">
      <div class="row">
        <div class="col-md-6 text-center">
          <a href="/">
            <img src="/img/logos/covid.png" width="160" style="margin-bottom: 20px;" />
            <h1 style="color: black;">CoVi Helpers</h1>
          </a>
        </div>
        <div class="col-md-6">
          <div class="ibox-content">
            <h3>User Login:</h3>
            <form
              class="m-t"
              role="form"
              method="post"
              onsubmit="process_login(this);return false;"
            >
              <div class="form-group">
                <input
                  type="email"
                  name="username"
                  class="form-control"
                  placeholder="Username"
                  value=""
                  required=""
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  placeholder="Password"
                  class="form-control"
                  placeholder="Password"
                  required=""
                />
              </div>
              <p>
                Demo Purpose:
                <br />
                username: test@covihelpers
                <br />
                password: covihelpers
              </p>
              <button type="submit" class="btn btn-primary block full-width m-b">
                Login
              </button>
            </form>
            <p class="m-t"><small>Please do not share your login credentials.</small></p>
          </div>
        </div>
      </div>
      <div id="msg" class="alert alert-danger row ml-3 mr-3"></div>
      <div id="info" class="alert alert-success row ml-3 mr-3"></div>
      <hr />
      <div class="row">
        <div class="col-md-6">&nbsp;&nbsp;<strong>Created by Raktim Shrestha</strong></div>
        <div class="col-md-6 text-right">
          <small
            >© Github
            <a href="https://github.com/rakimsth" target="_blank">Raktim Shrestha</a></small
          >
        </div>
      </div>
    </div>
    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <script>
      $(document).ready(function () {
        $("#msg").hide();
        $("#info").hide();

        $("#frmForgotPass").submit(function (e) {
          e.preventDefault();
          forgotPass();
        });
      });

      var process_login = form => {
        $("#info").hide();
        let username = $("input[name='username']").val();
        let password = $("input[name='password']").val();

        $.ajax({
          url: "/login_process",
          method: "POST",
          data: { username, password }
        })
          .done(function (data) {
            if (data.token) {
              window.location.replace("/cms");
            }
          })
          .fail(function (err) {
            $("#msg").html(err.responseJSON.message);
            $("#msg").show();
          });
        return false;
      };

      const forgotPass = () => {
        let recov_email = $("#forgot_email").val();
        $.ajax({
          url: "/api/v1/users/password_forgot",
          method: "POST",
          data: { email: recov_email }
        })
          .done(function (d) {
            $("#info").html("Please check your email for further instructions.");
            $("#info").show();
            $("#forgotPassModal").modal("hide");
          })
          .fail(function (e) {
            $("#info").html("Please check your email for further instructions.");
            $("#info").show();
            $("#forgotPassModal").modal("hide");
          });
      };
    </script>
  </body>
</html>

<div id="forgotPassModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><h4 class="modal-title">Recover Your Password</h4></div>
      <div class="modal-body">
        <form action="" id="frmForgotPass" method="post">
          <div class="form-group">
            <label for="forgot_email">Enter recovery email:</label>
            <input
              type="email"
              class="form-control"
              id="forgot_email"
              name="forgot_email"
              placeholder="email address"
              required
            />
          </div>

          <div class="hr-line-dashed"></div>
          <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-2">
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                Close
              </button>
              <button class="btn btn-primary btn-sm" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
